    {% extends theme ~ "/layout.twig" %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{ title }}</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Termékek keresése</h2>

                <br>

                <form method="post" action="/" class="form-horizontal">
                    <input type="text" name="search[title]" value="{{ search.title }}" placeholder="Cím">
                    <input type="text" name="search[release_date]" value="{{ search.release_date }}" placeholder="Kiadás éve">
                    <input type="text" name="search[publisher]" value="{{ search.publisher }}" placeholder="Kiadó">
                    <input type="submit" class="btn btn-primary" value="Keresés">
                </form>

                <br>

                {% if products|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cím</th>
                                <th>Kiadás éve</th>
                                <th>Kiadó</th>
                                <th>Kategória</th>
                                <th>Konzol típusa</th>
                                <th>Metascore</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    {% if product.image is not empty %}
                                    <img src="/uploads/{{ product.image }}" class="game-cover">
                                    {% endif %}
                                    {{ product.title }}
                                </td>
                                <td>{{ product.release_date }}</td>
                                <td>{{ product.publisher }}</td>
                                <td>{{ product.category }}</td>
                                <td>{{ product.console }}</td>
                                <td>{{ product.metascore }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}

                    {% if thisIsASearch %}
                    <p>A keresési feltételeknek egy termék sem felelt meg.</p>
                    {% else %}
                    <p>Jelenleg egy termék sincs az adatbázisban.</p>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}
